@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: '宋体'; 
    vertical-align: baseline; 
} 
:focus { 
    outline: 0; 
} 
table { 
    border-collapse: separate; 
    border-spacing: 0; 
} 
caption, th, td { 
    text-align: left; 
    font-weight: normal; 
} 
a img, iframe { 
    border: none; 
} 
ol, ul { 
    list-style: none; 
} 
input, textarea, select, button { 
    font-size: 100%; 
    font-family: inherit; 
} 
select { 
    margin: inherit; 
} 
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */ 
ol { margin-left:2em; } 
/* == clearfix == */ 
.clearfix:after { 
    content: “.”; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
} 
.clearfix {display: inline-block;} 
* html .clearfix {height: 1%;} 
.clearfix {display: block;}
.clear{clear:both; height:0; overflow:hidden;}
body{ min-width:1200px;}
/**/
a{ color:#666; text-decoration:none;}
.wtc{width:1100px; margin:0 auto;}
.mt30{ margin-top:20px;}
.mt35{ margin-top:35px;}
/*分页*/
.pages{ margin:5px; padding:3px; text-align:center; font-size:14px;}
.pages a{ padding:5px 8px; border:solid 1px #d4d4d4; color:#555; margin-right:5px; text-decoration:none; background:#fff; border-radius:3px;}
.pages a:hover{ border:solid 1px #5c8093; color:#fff; background-color:#5c8093;}
.pages span.current { border:solid 1px #5c8093; padding:5px 8px; font-weight:bold; color:#fff; margin-right:5px; background-color:#5c8093; border-radius:3px;}
.pages span.disabled { border:solid 1px #efefef; padding:5px 8px; color:#d9d9d9; margin-right:3px;}
.pages input{border:solid 1px #d4d4d4;}
