<div class="hg-footer">
    <div class="bd">
        <div class="f-l">
            <p><img src="#getImagePath()/homePage/img/new-index-icon13.png" width="18" height="13"> 全国统一电话：<span class="tel-num">4006-010-666</span> </p>
            <p><img src="#getImagePath()/homePage/img/new-index-icon14.png" width="20" height="13"> E-mail：csc@hbisco.com</p>
        </div>
        <div class="fr f16 mt20 mr20">
            Copyright ©2017 河钢 All Rights Reserved
        </div>
    </div>

</div>


<!--<div class="hg-footer">-->
<!--    <div class="bd">-->
<!--        <div class="f-1">-->
<!--            <dl>-->
<!--                <dt>网站首页</dt>-->
<!--            </dl>-->
<!--            <dl>-->
<!--                <dt>新闻中心</dt>-->
<!--                <dd><a href="javascript:void(0)" onclick="getMore('#getAppServer()/homePage/morecontent.htm?name=新闻中心-集团要闻');">集团要闻</a></dd>-->
<!--                <dd><a href="javascript:void(0)" onclick="getMore('#getAppServer()/homePage/morecontent.htm?name=新闻中心-公司新闻');">公司新闻</a></dd>-->
<!--                <dd><a href="javascript:void(0)" onclick="getMore('#getAppServer()/homePage/morecontent.htm?name=新闻中心-销售动态');">销售动态</a></dd>-->
<!--            </dl>-->
<!--            <dl>-->
<!--                <dt>关于我们</dt>-->
<!--                <dd><a href="#getAppServer()/homePage/lmjs.htm?flag=gsjj" target="_blank">公司简介</a></dd>-->
<!--                <dd><a href="#getAppServer()/homePage/lmjs.htm?flag=qywh" target="_blank">企业文化</a></dd>-->
<!--                <dd><a href="#getAppServer()/homePage/lmjs.htm?flag=zzjg" target="_blank">组织机构</a></dd>-->
<!--                <dd><a href="#getAppServer()/homePage/lmjs.htm?flag=hzhb" target="_blank">合作伙伴</a></dd>-->
<!--            </dl>-->
<!--            <dl>-->
<!--                <dt>营销政策</dt>-->
<!--                <dd><a href="javascript:void(0)" onclick="getMore('#getAppServer()/homePage/morecontent.htm?name=营销政策-国家政策');">国家政策</a></dd>-->
<!--                <dd><a href="javascript:void(0)" onclick="getMore('#getAppServer()/homePage/morecontent.htm?name=营销政策-集团政策');">集团政策</a></dd>-->
<!--                <dd><a href="javascript:void(0)" onclick="getMore('#getAppServer()/homePage/morecontent.htm?name=营销政策-市场分析');">市场分析</a></dd>-->
<!--            </dl>-->
<!--        </div>-->
<!--        <div class="f-r">-->
<!--            <p class="tc"><img src="#getImagePath()/homePage/img/wx_ma.png" width="64" height="72"></p>-->
<!--            <p><img src="#getImagePath()/homePage/img/new-index-icon13.png" width="18" height="13"> 全国统一电话：<span class="tel-num">4006-010-665</span> </p>-->
<!--            <p><img src="#getImagePath()/homePage/img/new-index-icon14.png" width="20" height="13"> E-mail：csc@hbisco.com</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="f-copyright">-->
<!--        Copyright ©2014 河钢 All Rights Reserved-->
<!--    </div>-->
<!--</div>-->
