@charset "utf-8";
.mt10 {
  margin-top: 10px !important;
}
.mt-1 {
  margin-top: -1px !important;
}
/*html, body, .mui-content { background-color: #fff;}*/
.mui-bar-nav {
  background-color: #e7001f;
}
.mui-bar-nav .mui-icon,
.mui-bar-nav .mui-title,
.mui-bar-nav .mui-btn-link {
  color: #fff;
}
.mui-bar-tab {
  background-color: #fff;
}
.mui-pull-bottom-tips {
  text-align: center;
  background-color: #efeff4;
  font-size: 15px;
  line-height: 40px;
  color: #777;
}
.mui-fullscreen {
  top: 44px;
  height: auto;
}
/*mui update*/
body,
.mui-content {
  background-color: #fff;
}
.mui-segmented-control {
  background-color: #fff;
}
.mui-segmented-control.mui-segmented-control-inverted {
  border-bottom: 1px solid #ddd;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
  line-height: 40px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #fe7000;
  border-bottom-color: #fe7000;
}
.mui-switch.mui-switch-mini {
  height: 23px;
}
.mui-switch.mui-switch-mini .mui-switch-handle {
  height: 20px;
  width: 20px;
  -webkit-transform: translate(24px, 0);
}
.mui-bar-tab .mui-tab-item {
  color: #898989;
}
.mui-bar-tab .mui-tab-item span {
  color: #888;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #269297;
}
.mui-bar-tab .mui-tab-item.mui-active span {
  color: #269297;
}
.mui-input-group .mui-input-row:after {
  left: 0;
}
.mui-btn-block {
  padding: 10px 0;
}
/*首页*/
.title_search {
  position: relative;
}
.title_search span.ico {
  position: absolute;
  top: 10px;
  left: 5px;
  font-family: Muiicons;
  font-size: 22px;
  color: #fff !important;
}
.title_search input {
  padding-left: 30px;
  text-align: left;
  color: #fff !important;
  border: 1px solid #fd4b4b;
}
.title_search input::-webkit-input-placeholder {
  color: #ffd6d6;
}
/*index*/
.zb_btn {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  overflow: hidden;
}
.zb_btn ul li {
  display: table-cell;
  width: 1%;
  text-align: center;
  padding: 0 10px;
}
.help_btn {
  border: 1px solid #ddd;
  border-width: 1px 0;
  padding: 10px 0;
  background-color: #fff;
  margin-bottom: 10px;
}
.spinner {
  font-size: 60px;
  width: 1em;
  height: 1em;
  position: relative;
  margin: 0 auto;
}
.spinner .left {
  position: absolute;
  clip: rect(0, .5em, 1em, 0);
  width: 1em;
  height: 1em;
  box-shadow: inset 0 0 0 .05em rgba(58, 168, 237, 0.2);
  border-radius: 50%;
}
.spinner .left i {
  position: absolute;
  right: 0;
  clip: rect(0, 1em, 1em, .5em);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .05em #2da4c2;
  transform: rotate(0deg);
}
.spinner .right {
  position: absolute;
  clip: rect(0, 1em, 1em, .5em);
  width: 1em;
  height: 1em;
  box-shadow: inset 0 0 0 .05em rgba(58, 168, 237, 0.2);
  border-radius: 50%;
}
.spinner .right b {
  position: absolute;
  right: 0;
  clip: rect(0, .5em, 1em, 0);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .05em #2da4c2;
  transform: rotate(0deg);
}
.spinner span {
  color: #fe7000;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: .35em;
  margin: -.5em 0 0 -1em;
}
.spinner.presell .left i {
  box-shadow: inset 0 0 0 .05em #35c817;
}
.spinner.presell .right b {
  box-shadow: inset 0 0 0 .05em #35c817;
}
.spinner.endsell .left i {
  box-shadow: inset 0 0 0 .05em #aaa;
}
.spinner.endsell .right b {
  box-shadow: inset 0 0 0 .05em #aaa;
}
h5.title {
  background-color: #fff;
  border: 1px solid #ddd;
  border-width: 1px 0;
  height: 40px;
  line-height: 40px;
  color: #666;
  text-indent: 1em;
  margin: 0;
  font-size: 15px;
}
/*文章详情*/
.article h5.line {
  border-bottom: 1px solid #ddd;
}
/*表单*/
.form {
  background-color: #fff;
  margin: 0 10px;
}
.form ul {
  padding: 0;
  margin: 0;
}
.form ul li {
  list-style: none;
  overflow: hidden;
}
.form ul li p {
  margin-bottom: 0;
}
.form ul li .mui-input-row {
  border-radius: 5px;
}
.form ul li .mui-btn {
  padding: 10px 12px;
  width: 33%;
  border-radius: 15px;
}
.form ul li .mui-input-row label ~ input {
  float: none;
}
.form ul li .mui-input-row label ~ input.yzm {
  width: 30%;
  padding-right: 0;
}
.form ul li .mui-input-row label ~ input[type=image] {
  width: auto;
  float: right;
}
.form ul li .mui-input-row label {
  height: 40px;
  padding: 6px 8px;
  color: #aaa;
}
.form ul li .mui-input-row:hover label {
  color: #e7001f;
}
/*alert*/
.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: calc(90%);
  -webkit-width: calc(90%);
  margin: 0 auto;
  display: none;
}
.alert.active {
  display: block;
}
.alert.bounceIn {
  -webkit-transform-origin: left top;
}
.alert .alert_con {
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 0 10px;
  overflow: hidden;
}
.alert .alert_con h4 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: #e7001f;
}
.alert .alert_con p {
  text-align: center;
  padding: 10px 0;
}
.alert .alert_con .mui-btn-block {
  padding: 6px 12px;
  font-size: 17px;
}
.alert .alert_con .half {
  width: 48%;
  margin-bottom: 10px;
  height: 38px;
}
/*表格*/
.tb_1 th {
  border-top: 1px solid #ddd;
  background-color: #f2f2f2;
  height: 40px;
  font-weight: 400;
}
.tb_1 td {
  padding: 5px 0;
  text-align: center;
  border-top: 1px solid #ddd;
  height: 40px;
  font-weight: 400;
}
.f_tb1 th,
.f_tb1 td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.f_tb1 th {
  background-color: #eee;
  font-weight: 400;
  text-align: right;
  border-right: 1px solid #ddd;
}
/*下拉刷新DIV*/
.mui-pull-top-tips {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 999999;
}
.mui-bar ~ .mui-pull-top-tips {
  top: 24px;
}
.mui-pull-top-wrapper {
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  background-color: #efeff4;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-clip: padding-box;
  box-shadow: 0 4px 10px #bbb;
  overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
  /*-webkit-backface-visibility: hidden; -webkit-transition-duration: 400ms; transition-duration: 400ms;*/ margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
  margin-top: 7px;
}
.mui-pull-bottom-tips {
  text-align: center;
  background-color: #efeff4;
  font-size: 15px;
  line-height: 40px;
  color: #777;
}
.mui-pull-top-canvas {
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 40px;
  box-shadow: 0 4px 10px #bbb;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.mui-pull-top-canvas canvas {
  width: 40px;
}
/*显示下拉菜单DIV*/
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bounce-in-down {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-down {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bounce-out-up {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.fade-out-up {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutUp {
  20% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.menu-open {
  height: 100%;
  width: 100%;
}
.menu-open .mui-scroll-wrapper {
  position: absolute;
  top: 48;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
.menu-backdrop {
  display: none;
}
.menu-open .menu-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 998;
  background-color: #000;
  opacity: .2;
}
.menu-wrapper {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: left;
  width: 100%;
}
.menu-wrapper.hidden {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  z-index: -1;
}
.menu {
  width: 100%;
}
.menu .mui-table-view {
  color: #888;
  font-size: 14px;
}
.menu .mui-table-view-radio .mui-table-view-cell.mui-selected,
.menu .mui-table-view-radio .mui-table-view-cell.mui-selected .mui-navigate-right:after {
  color: #fe7000;
}
/*显示上拉弹出DIV*/
.pull_bottom_pop {
  position: absolute;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  height: auto;
  display: none;
}
.pull_bottom_pop.active {
  display: block;
}
.pull_bottom_pop h5 {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0 10px;
  line-height: 44px;
  margin: 0;
  width: 100%;
}
/*等待waiting*/
.waiting_box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: none;
}
.waiting_box.active {
  display: block;
}
.waiting_box .waiting_con {
  margin: -25% 0 0 -50%;
  width: 100%;
  border-radius: 10px;
  padding: 0 10px;
  overflow: hidden;
}
.waiting {
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .1em rgba(255, 255, 255, 0.2);
}
.waiting i {
  position: absolute;
  clip: rect(0, 1em, 1em, .5em);
  width: 1em;
  height: 1em;
  -webkit-animation: waiting-circle-clipper 1s ease-in-out infinite;
}
.waiting i:after {
  position: absolute;
  clip: rect(0, 1em, 1em, .5em);
  width: 1em;
  height: 1em;
  content: '';
  -webkit-animation: waiting-circle 1s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: inset 0 0 0 .1em #eee;
}
@-webkit-keyframes waiting-circle-clipper {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes waiting-circle {
  0% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
/*按钮*/
.mui-btn-red {
  background-color: #e7001f;
  border: 1px solid #e7001f;
}
.btn_ok {
  color: #fe7000;
  border: 1px solid #fe7000;
  border-radius: 3px;
  background-color: #f0f0f0;
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.btn_ok:hover {
  color: #2da4c2;
  background-color: #f2f2f2;
}
.btn_buy {
  color: #ff6e27;
  border: 1px solid #ff6e27;
  border-radius: 3px;
  background-color: #fff;
  height: 26px;
  line-height: 26px;
  width: 45px;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.btn_buy:hover {
  color: #fff;
  background-color: #ff6e27;
}
/*color*/
.bg_co_w {
  background-color: #FFF !important;
}
.co_b {
  color: #000 !important;
}
.co_w {
  color: #fff !important;
}
.co_r {
  color: #ff0000 !important;
}
.co_gray {
  color: #bbb !important;
}
.co_green {
  color: #02bb77 !important;
}
.co_orange {
  color: #ff9913 !important;
}
.co_blue {
  color: #8bc6f0 !important;
}
.co_yellow {
  color: #ffba00 !important;
}
.bg_co1 {
  background-color: #f0f0f0 !important;
}
.bg_co2 {
  background-color: #f2f2f2 !important;
}
.bg_co3 {
  background-color: #f8f8f8 !important;
}
.bg_co4 {
  background-color: #fefefe !important;
}
.bg_co5 {
  background-color: #4c876b !important;
}
.co1 {
  color: #fe7000 !important;
}
.co2 {
  color: #2da4c2 !important;
}
.co3 {
  color: #888 !important;
}
.co4 {
  color: #ffd6d6 !important;
}
.co5 {
  color: #ddd !important;
}
.co6 {
  color: #666 !important;
}
.co7 {
  color: #aaa !important;
}
.co8 {
  color: #ff7e00 !important;
}
.co9 {
  color: #35c817 !important;
}
.cp1 {
  background-color: #bd84d3 !important;
}
.cp2 {
  background-color: #17b3e6 !important;
}
.cp3 {
  background-color: #32b991 !important;
}
.cp4 {
  background-color: #ffa300 !important;
}
.cp5 {
  background-color: #ff565b !important;
}
.cp6 {
  background-color: #64d42d !important;
}
.cp7 {
  background-color: #6dc243 !important;
}
.cp8 {
  background-color: #4390c2 !important;
}
/*新添字体*/
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype');/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-mima:before {
  content: "\e600";
}
.icon-yanzhengma:before {
  content: "\e602";
}
.icon-dengluicon:before {
  content: "\e601";
}
.icon-needlezhen:before {
  content: "\e603";
}
/*自定义基本样式*/
a {
  color: #2da4c2;
}
a:active {
  color: #0875ae;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.vm {
  vertical-align: middle;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pn {
  position: static;
}
.none {
  display: none;
}
.fb {
  font-weight: 600;
}
.fn {
  font-weight: 300;
}
.ov_hid {
  overflow: hidden;
}
.nowrap {
  white-space: nowrap;
}
.tb_fix {
  table-layout: fixed;
}
.bdr50p {
  border-radius: 50%;
}
.f12 {
  font-size: 12px !important;
}
.f13 {
  font-size: 13px !important;
}
.f14 {
  font-size: 14px !important;
}
.f15 {
  font-size: 15px !important;
}
.f16 {
  font-size: 16px !important;
}
.f17 {
  font-size: 17px !important;
}
.f18 {
  font-size: 18px !important;
}
.f19 {
  font-size: 19px !important;
}
.f20 {
  font-size: 20px !important;
}
.f21 {
  font-size: 21px !important;
}
.f22 {
  font-size: 22px !important;
}
.f23 {
  font-size: 23px !important;
}
.f24 {
  font-size: 24px !important;
}
.f25 {
  font-size: 25px !important;
}
.f26 {
  font-size: 26px !important;
}
.f27 {
  font-size: 27px !important;
}
.f28 {
  font-size: 28px !important;
}
.w80 {
  width: 80px !important;
}
.w160 {
  width: 160px !important;
}
.w240 {
  width: 240px !important;
}
.w320 {
  width: 320px !important;
}
.w400 {
  width: 400px !important;
}
.w480 {
  width: 480px !important;
}
.w560 {
  width: 560px !important;
}
.w640 {
  width: 640px !important;
}
.w720 {
  width: 720px !important;
}
.w800 {
  width: 800px !important;
}
.w880 {
  width: 880px !important;
}
.w960 {
  width: 960px !important;
}
.w1040 {
  width: 1040px !important;
}
.w1120 {
  width: 1120px !important;
}
.w1200 {
  width: 1200px !important;
}
.w {
  width: 100%;
}
.h10 {
  height: 10px !important;
}
.h20 {
  height: 20px !important;
}
.h30 {
  height: 30px !important;
}
.h40 {
  height: 40px !important;
}
.h50 {
  height: 50px !important;
}
.h60 {
  height: 60px !important;
}
.h70 {
  height: 70px !important;
}
.h80 {
  height: 80px !important;
}
.h {
  height: 100%;
}
.m5 {
  margin: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.m10 {
  margin: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.p5 {
  padding: 5px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
/*# sourceMappingURL=update.css.map */


/*操作提示*/
.tishi-box.boder{ padding:20px; margin:0 auto;padding-top:10px;}
.tishi-box .left-ico { width:100%; height:65px; text-align:center;margin-top:20px;}
.tishi-box .right-info { width:100%;text-align:center; margin-top:20px;}
.tishi-box .right-info h4{ padding-bottom:10px;}
.tishi-box .right-info ul li{ color:#999;}


.tishi-box-2 { padding:8px 20px;border:solid 1px #e7e7e7; margin:0 auto;}
.tishi-box-2 .left-ico { width:50px; height:25px; float:center;}
.tishi-box-2 .left-ico .img-ico { width:25px; height:25px; display:block; margin:0 auto;}
.s-1{ background-color:#f2ffde}
.s-2{ background-color:#fffbe4}
.s-3{ background-color:#ffeef0}
.s-1 .left-ico .img-ico { background-position:0 0;}
.s-2 .left-ico .img-ico{ background-position:-25px 0;}
.s-3 .left-ico .img-ico{ background-position:-50px 0;}
.tishi-box-2 .right-info { float:left;}
.tishi-box-2 .right-info ul li{ color:#999;}